body {
    font-family: Helvetica, sans-serif;
}

header {
    background-color: DarkCyan;
    color: white;
    text-align: center;
    padding: 20px;
}

.blok-pierwszy {
    background-color: LightSeaGreen;
    text-align: center;
    padding: 60px;
}

.blok-lewy, .blok_srodkowy {
    background-color: teal;
    color: white;
    text-align: center;
    height: 350px;
    width: 25%;
    float: left;
}

.blok-prawy {
    background-color: teal;
    height: 350px;
    width: 50%;
    float: left;
}

footer {
    background-color: darkcyan;
    color: white;
    padding: 40px;
    clear: both;
}

ul {
    border: 4px dotted rgb(127,255,212);
}