body {
    font-family: Helvetica, sans-serif;
    margin: 0;
}

aside {
    float: left;

    background-color: Navy;
    color: white;
    height: 700px;
    width: 25%;
}

.section-1 {
    float: left;
    background-color: royalblue;
    height: 100px;
    width: 75%;
    text-align: center;
}

.section-2 {
    float: left;
    background-color: steelblue;
    height: 300px;
    width: 75%;
}

.section-3 {
    float: left;
    background-color: royalblue;
    height: 300px;
    width: 75%;
    text-align: center;
}

footer {
    clear: both ;
    background-color: steelblue;
    text-align: center;
    padding: 20px;
}

h1 {
    letter-spacing: 5px;
}

form {
    margin: 30px;
    line-height: 3px
}

form:hover {
    background-color: deepskyblue;
}